
.menu span{
	display: block;
	width: 26px;
	height: 2px;
	background-color: rgba(0, 0, 0, 0.8);
	transition: all 0.3s ease;
	transform-origin: 3px 1px;
}
.menu span:not(:last-child){
	margin-bottom: 5px;
}
.open span:first-child{
	transform: rotate(45deg);
}
.open span:nth-child(2){
	opacity: 0;
}
.open span:last-child{
	transform: rotate(-45deg);
}
.back{
	margin-top: 58px;
	min-height: 100%;
	position: relative;
	/*background-color: grey;*/
}
.noOverlay{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	/*background: red;*/
	background-image:linear-gradient(rgba(240, 240, 240, 1), rgb(255, 255, 255, 0.75));
 	opacity: 0;
 	transition:opacity 0.5s ease;

}
.overlay{
	opacity: 1;
}

.mobileMenu{
	/*margin-top: 70px;*/
	margin-top: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
	display: none;
	position: fixed;
	background: white;
	border-radius: 3px;
	width: 90%;	
	left: 50%;
	transform: translateX(-50%);
}
.mobileMenu a{
	display: block;
	padding: 10px;
	text-align: center;
}
.show-mobile-menu{
	display: block;
}
